<!DOCTYPE html>
<html>
<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</header>

<body>

    <div class="container" id="charApp">
        <h1>Zweihander Character Creator</h1>
        <h2 class="text-danger">This app is under construction!</h2>
        <div class="row mb-3">
            <button class="btn btn-success col-3" v-on:click="rollAll"><i class="bi bi-dice-6"></i> Roll
                Everything</button>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <label for="character_name" class="form-label">
                    Character Name
                </label>
                <input type="text" class="form-control" v-model="char_data.name" id="character_name">
            </div>
            <div class="col-2">
                <label for="gender" class="form-label">
                    Gender
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="char_data.gender">
                    <button class="btn btn-primary btn-sm" v-on:click="rollGender" title="Roll"><i
                            class="bi bi-dice-6"></i></button>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <h2>Primary Attributes</h2>
            <div class="row mb-1">
                <div class="btn-group col-2">
                    <button class="btn btn-primary btn-sm" v-on:click="rollAllPrimaryAttributes"
                        :disabled="primary_attributes_rolled" title="Roll"><i class="bi bi-dice-6"></i></button>
                    <button class="btn btn-danger btn-sm" v-on:click="resetPrimaryAttributes"
                        :disabled="!primary_attributes_rolled" title="Reset"><i
                            class="bi bi-arrow-counterclockwise"></i>
                    </button>
                </div>
            </div>
            <div class="row" v-for="attr in Object.keys(char_data.primary_attributes)">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text col-2">{{titleCase(attr)}}</span>
                        <span class="input-group-text col-1">{{char_data.primary_attributes[attr]}}</span>
                        <span class="input-group-text col-1">{{attributeBonus(attr)}}</span>
                        <button
                            v-if="primary_attributes_rolled && char_data.ancestral_trait == 'Natural Selection' && !natural_selection_attr"
                            class="btn btn-warning btn-sm" v-on:click="swapNaturalSelection(attr)" :disabled="swap_attr"
                            title="Natural Selection"><i class="bi bi-arrow-left-right"></i> 55</button>
                        <button v-if="primary_attributes_rolled && !primary_attributes_swapped"
                            class="btn btn-primary btn-sm" v-on:click="swap42(attr)" :disabled="swap_attr"
                            title="Swap an attribute for 42 ONCE"><i class="bi bi-arrow-left-right"></i> 42</button>
                        <button v-if="primary_attributes_rolled && !primary_attributes_swapped"
                            class="btn btn-info btn-sm" v-on:click="swapAttr(attr)" :disabled="attr == swap_attr"
                            title="Swap two attributes ONCE">Swap</button>
                    </div>
                </div>
                <div class="col-3">
                    <div class="btn-group">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <h2>Ancestry</h2>
            <div class="row mb-3">
                <div class="col-2">
                    <label for="ancestry" class="form-label">
                        Ancestry
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestry">
                            <option v-for="ancestry in ancestry_options" :value="ancestry">{{ ancestry }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollAncestry" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-4">
                    <label for="ancestry_trait" class="form-label">
                        Ancestral Trait
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestral_trait"
                            v-on:change="checkAncestralTraitChanges">
                            <option v-for="trait in ancestral_traits[char_data.ancestry]" :value="trait[2]">{{ trait[2]
                                }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollAncestralTrait" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" v-if="char_data.ancestry_mixed">
                <div class="col-2">
                    <label for="ancestry2" class="form-label">
                        Mixed Ancestry
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestry_mixed">
                            <option v-for="ancestry in mixedAncestryOptions()" :value="ancestry">{{ ancestry }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollMixedAncestry" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-4">
                    <label for="ancestry_trait2" class="form-label">
                        Mixed Ancestral Trait
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestral_trait_mixed">
                            <option v-for="trait in ancestral_traits[char_data.ancestry_mixed]" :value="trait[2]">{{
                                trait[2]
                                }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollMixedAncestralTrait" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    var charApp = new Vue({
        el: '#charApp',
        data: {
            char_data: {
                name: "",
                primary_attributes: {
                    combat: 0,
                    brawn: 0,
                    agility: 0,
                    perception: 0,
                    intelligence: 0,
                    willpower: 0,
                    fellowship: 0,
                },
                gender: '',
                ancestry: 'Human',
                ancestral_trait: null,
                ancestry_mixed: null,
                ancestral_trait_mixed: null,
                skill_rank_bonuses: {}
            },
            primary_attributes_rolled: false,
            primary_attributes_swapped: false,
            swap_attr: null,
            gender_options: ['Male', 'Female', 'Nonbinary'],
            ancestry_options: ['Human', 'Dwarf', 'Elf', 'Gnome', 'Halfling', 'Ogre'],
            ancestral_traits: {
                Human: [
                    [1, 8, "Blessing in Disguise"],
                    [9, 16, "Danger Sense"],
                    [17, 25, "Dauntless"],
                    [26, 33, "Esoteric Memory"],
                    [34, 41, "Fortune's Wheel"],
                    [42, 49, "Grim Resolve"],
                    [50, 58, "Manifest Destiny"],
                    [59, 67, "Mixed Bloodline"],
                    [68, 76, "Mountain Amongst Men"],
                    [77, 85, "Natural Selection"],
                    [86, 92, "Noble Savage"],
                    [93, 100, "Seventh Sense"],
                ],
                Dwarf: [
                    [1, 8, "Cavesight"],
                    [9, 16, "Children of the Earth"],
                    [17, 25, "Consume Alcohol"],
                    [26, 33, "Dwarven Warfare"],
                    [34, 41, "Grudgebearer"],
                    [42, 49, "Ironclad"],
                    [50, 58, "Oathkeeper"],
                    [59, 67, "Physical Prowess"],
                    [68, 76, "Rune-marked Glory"],
                    [77, 85, "Stentorian Voice"],
                    [86, 92, "Stoneheaded"],
                    [93, 100, "Strength of the Mountain"],
                ],
                Elf: [
                    [1, 8, "Bewitching"],
                    [9, 16, "Beyond the Veil"],
                    [17, 25, "Deadly Aim"],
                    [26, 33, "Enduring Mortality"],
                    [34, 41, "Fey Treachery"],
                    [42, 49, "Firstborn"],
                    [50, 58, "Kindred Warband"],
                    [59, 67, "Lament of the Ages"],
                    [68, 76, "Meditative Healing"],
                    [77, 85, "Nature's Own"],
                    [86, 92, "Nighteyes"],
                    [93, 100, "Warrior's Tattoo"],
                ],
                Gnome: [
                    [1, 8, "Clockworks of War"],
                    [9, 16, "Crag Fighting"],
                    [17, 25, "Denizen of Stone"],
                    [26, 33, "Dungeons Deep"],
                    [34, 41, "Escape Artist"],
                    [42, 49, "Goldbergian"],
                    [50, 58, "Hocus Pocus"],
                    [59, 67, "Metrognome"],
                    [68, 76, "Thieving Stunties"],
                    [77, 85, "Tunnel Vision"],
                    [86, 92, "Underfoot"],
                    [93, 100, "Wretched Prankster"],
                ],
                Halfling: [
                    [1, 8, "Beguiler"],
                    [9, 16, "Cat-like Reflexes"],
                    [17, 25, "Craven"],
                    [26, 33, "Farsight"],
                    [34, 41, "Fettered Chaos"],
                    [42, 49, "Fieldwarden"],
                    [50, 58, "Fleet-footed"],
                    [59, 67, "Hijinks"],
                    [68, 76, "Kleptomania"],
                    [77, 85, "Low Blow"],
                    [86, 92, "Memento"],
                    [93, 100, "Pintsized"],
                ],
                Ogre: [
                    [1, 8, "Broad-bellied"],
                    [9, 16, "Cast Iron Stomach"],
                    [17, 25, "Cruisin' For A Bruisin'"],
                    [26, 33, "Frightening Bellow"],
                    [34, 41, "Gut-Plate"],
                    [42, 49, "Hunger Pangs"],
                    [50, 58, "Mighty Thews"],
                    [59, 67, "Odd Couple"],
                    [68, 76, "Rotgut Spray"],
                    [77, 85, "Slamdance"],
                    [86, 92, "Thick Lining"],
                    [93, 100, "Wendigo"],
                ],
            },
            natural_selection_attr: null,
            natural_selection_original: null,
        },
        methods: {
            rollAll: function () {
                this.primary_attributes_swapped = false;
                this.rollAllPrimaryAttributes();
                this.rollGender();
                this.rollAncestry();
            },
            rollAllPrimaryAttributes: function () {
                this.primary_attributes_rolled = true;
                for (key in this.char_data.primary_attributes)
                    this.char_data.primary_attributes[key] = this.rollPrimaryAttribute();
            },
            rollPrimaryAttribute: function () {
                return 25 + this.rollD(10) + this.rollD(10) + this.rollD(10);
            },
            rollD: function (sides) {
                return Math.round(Math.random() * (sides - 1) + 1);
            },
            attributeBonus: function (attr) {
                return this.char_data.primary_attributes[attr].toString().substring(0, 1);
            },
            swap42: function (attr) {
                this.primary_attributes_swapped = true;
                this.char_data.primary_attributes[attr] = 42;
            },
            swapAttr: function (attr) {
                if (this.swap_attr) {
                    let firstAttr = this.char_data.primary_attributes[this.swap_attr];
                    let secondAttr = this.char_data.primary_attributes[attr];
                    this.char_data.primary_attributes[this.swap_attr] = secondAttr;
                    this.char_data.primary_attributes[attr] = firstAttr;
                    if (this.swap_attr == this.natural_selection_attr)
                        this.natural_selection_attr = attr;
                    this.swap_attr = null;
                    this.primary_attributes_swapped = true;
                }
                else {
                    this.swap_attr = attr;
                }
            },
            resetPrimaryAttributes: function () {
                for (key in this.char_data.primary_attributes)
                    this.char_data.primary_attributes[key] = 0;
                this.swap_attr = null;
                this.primary_attributes_swapped = false;
                this.primary_attributes_rolled = false;
                this.resetNaturalSelection();
            },
            rollGender: function () {
                this.char_data.gender = this.rollArray(this.gender_options, this.char_data.gender);
            },
            rollArray: function (arr, currentValue = null) {
                if (!arr || arr.length < 1)
                    return null;
                let newRoll = arr[Math.round(Math.random() * (arr.length - 1))];
                while (newRoll == currentValue)
                    newRoll = arr[Math.round(Math.random() * (arr.length - 1))];
                return newRoll;
            },
            rollAncestry: function () {
                this.char_data.ancestry = this.rollArray(this.ancestry_options, this.char_data.ancestry);
                this.rollAncestralTrait();
            },
            rollAncestralTrait: function () {
                let table = this.ancestral_traits[this.char_data.ancestry];
                this.char_data.ancestral_trait = this.rollTable(table);
                this.setMixedAncestry();
            },
            rollTable: function (table, diceSize = 100, current = null) {
                let roll = this.rollD(100);
                for (i in table) {
                    if (table[i][0] <= roll && table[i][1] >= roll && table[i][2] != current)
                        return table[i][2];
                    else if (table[i][2] == current)
                        return this.rollTable(table, diceSize, current);
                }
            },
            checkAncestralTraitChanges: function () {
                this.setMixedAncestry();
                this.resetNaturalSelection();
                this.applyStrengthOfTheMountain();
                this.applyGoldbergian();
            },
            setMixedAncestry: function () {
                if (this.char_data.ancestral_trait == "Mixed Bloodline")
                    this.rollMixedAncestry();
                else {
                    this.char_data.ancestry_mixed = null;
                    this.char_data.ancestral_trait_mixed = null;
                }
            },
            rollMixedAncestry: function () {
                this.char_data.ancestry_mixed = this.rollArray(this.ancestry_options);
                this.rollMixedAncestralTrait();
            },
            rollMixedAncestralTrait: function () {
                let secondTable = this.ancestral_traits[this.char_data.ancestry_mixed];
                this.char_data.ancestral_trait_mixed = this.rollTable(secondTable);
            },
            swapNaturalSelection: function (attr) {
                this.natural_selection_attr = attr;
                this.natural_selection_original = this.char_data.primary_attributes[attr];
                this.char_data.primary_attributes[attr] = 55;
            },
            resetNaturalSelection: function () {
                if (this.char_data.ancestral_trait != 'Natural Selection') {
                    if (this.natural_selection_attr && this.char_data.ancestral_trait)
                        this.char_data.primary_attributes[this.natural_selection_attr] = this.natural_selection_original;
                    this.natural_selection_attr = null;
                    this.natural_selection_original = null;
                }
            },
            titleCase: function (str) {
                return str[0].toUpperCase() + str.substring(1);
            },
            applyStrengthOfTheMountain: function () {
                if (this.char_data.ancestral_trait == "Strength of the Mountain" || this.char_data.ancestral_trait_mixed == "Strength of the Mountain")
                    this.char_data.skill_rank_bonuses.brawn = 5;
                else
                    this.char_data.skill_rank_bonuses.brawn = 0;
            },
            applyGoldbergian: function () {
                if (this.char_data.ancestral_trait == "Goldbergian" || this.char_data.ancestral_trait_mixed == "Goldbergian") {
                    this.char_data.skill_rank_bonuses.alchemy = 5;
                    this.char_data.skill_rank_bonuses.counterfeit = 5;
                    this.char_data.skill_rank_bonuses.skulduggery = 5;
                    this.char_data.skill_rank_bonuses.tradecraft = 5;
                }
                else {
                    this.char_data.skill_rank_bonuses.alchemy = 0;
                    this.char_data.skill_rank_bonuses.counterfeit = 0;
                    this.char_data.skill_rank_bonuses.skulduggery = 0;
                    this.char_data.skill_rank_bonuses.tradecraft = 0;
                }
            },
            mixedAncestryOptions: function () {
                return this.ancestry_options.slice(1);
            }
            //TODO Thieving Stunties
        }
    });
</script>

</html>