<!DOCTYPE html>
<html>
<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/site.css">
</header>

<body class="bg-dark text-light">

    <div class="container" id="charApp">
        <h1>Zweihander Character Creator</h1>
        <h2 class="text-danger">This app is under construction!</h2>
        <div class="row mb-1">
            <button class="btn btn-primary col-3" v-on:click="rollAll"><i class="bi bi-dice-6"></i> Roll
                Everything</button>
        </div>
        <div class="row mb-1">
            <div class="col-3">
                <label for="character_name" class="form-label">
                    Character Name
                </label>
                <input type="text" class="form-control" v-model="char_data.name" id="character_name">
            </div>
        </div>
        <div class="row mb-1 border-top">
            <h2>Attributes</h2>
            <div class="col">
                <h3>Primary <div class="btn-group col-2">
                        <button class="btn btn-primary btn-sm" v-on:click="rollAllPrimaryAttributes"
                            :disabled="primary_attributes_rolled" title="Roll"><i class="bi bi-dice-6"></i></button>
                        <button class="btn btn-danger btn-sm" v-on:click="resetPrimaryAttributes"
                            :disabled="!primary_attributes_rolled" title="Reset"><i
                                class="bi bi-arrow-counterclockwise"></i>
                        </button>
                    </div>
                </h3>
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <th>Attribute</th>
                        <th>%</th>
                        <th>Bonus</th>
                        <th v-if="primary_attributes_rolled && !primary_attributes_swapped">Swap with 42</th>
                        <th v-if="primary_attributes_rolled && !primary_attributes_swapped">Swap with Another Attribute
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="attr in Object.keys(char_data.primary_attributes)">
                            <td>{{titleCase(attr)}}</td>
                            <td>{{char_data.primary_attributes[attr]}}</td>
                            <td>{{attributeBonus(attr)}}</td>
                            <td v-if="primary_attributes_rolled 
                              && char_data.ancestral_trait == 'Natural Selection'
                              && !natural_selection_attr">
                                <button class="btn btn-warning btn-sm" v-on:click="swapNaturalSelection(attr)"
                                    :disabled="swap_attr" title="Natural Selection"><i
                                        class="bi bi-arrow-left-right"></i>
                                    55</button>
                            </td>
                            <td v-if="primary_attributes_rolled && !primary_attributes_swapped">
                                <button class="btn btn-primary btn-sm" v-on:click="swap42(attr)" :disabled="swap_attr"
                                    title="Swap an attribute for 42 ONCE"><i class="bi bi-arrow-left-right"></i>
                                    42</button>
                            </td>
                            <td v-if="primary_attributes_rolled && !primary_attributes_swapped">
                                <button class="btn btn-primary btn-sm" v-on:click="swapAttr(attr)"
                                    :disabled="attr == swap_attr" title="Swap two attributes ONCE">Swap</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Secondary</h3>
                <table class="table table-dark table-striped table-hover table-bordered">
                    <thead>
                        <th>Attribute</th>
                        <th>%</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Peril Threshold</td>
                            <td>{{peril_threshold}}</td>
                        </tr>
                        <tr>
                            <td>Damage Threshold</td>
                            <td>{{damage_threshold}}</td>
                        </tr>
                        <tr>
                            <td>Initiative</td>
                            <td>{{initiative}}</td>
                        </tr>
                        <tr>
                            <td>Movement</td>
                            <td>{{movement}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-1 border-top">
            <h2>Gender & Ancestry</h2>
            <div class="row mb-1">
                <div class="col-3">
                    <!-- TODO on change for other things-->
                    <select-roll v-bind:title="'Gender'" v-model="char_data.gender" v-bind:collection="gender_options"
                        v-bind:is_array="true" v-on:roll-click="rollGender()">
                    </select-roll>
                </div>
                <div class="col-3">
                    <select-roll v-bind:title="'Ancestry'" v-model="char_data.ancestry"
                        v-bind:collection="ancestry_options" v-bind:is_array="true" v-on:roll-click="rollAncestry()"
                        v-on:roll-change="rollAncestralTrait()">
                    </select-roll>
                </div>
                <div class="col-3">
                    <!-- TODO fix <select-roll v-bind:title="'Ancestral Trait'" v-model="char_data.ancestral_trait"
                        v-bind:collection="ancestral_traits[char_data.ancestry]" v-bind:is_array="false" v-on:roll-click="rollAncestralTrait()"
                        v-on:roll-change="checkAncestralTraitChanges()">
                    </select-roll> -->

                    <label for="ancestry_trait" class="form-label">
                        Ancestral Trait
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestral_trait"
                            v-on:change="checkAncestralTraitChanges">
                            <option v-for="trait in ancestral_traits[char_data.ancestry]" :value="trait[2]">{{ trait[2]
                                }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollAncestralTrait" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
            <div class="row" v-if="char_data.ancestry_mixed">
                <div class="col-3">
                    <label for="ancestry2" class="form-label">
                        Mixed Ancestry
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestry_mixed"
                            v-on:change="rollMixedAncestralTrait()">
                            <option v-for="ancestry in mixedAncestryOptions()" :value="ancestry">{{ ancestry }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollMixedAncestry" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-3">
                    <label for="ancestry_trait2" class="form-label">
                        Mixed Ancestral Trait
                    </label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.ancestral_trait_mixed">
                            <option v-for="trait in ancestral_traits[char_data.ancestry_mixed]" :value="trait[2]">{{
                                trait[2]
                                }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollMixedAncestralTrait" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1 border-top">
            <h2>Achetype & Profession</h2>
            <div class="row mb-1">
                <div class="col-3">
                    <label for="archetype" class="form-label">Achetype</label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.archetype" v-on:change="rollProfession()">
                            <option v-for="archetype in archetypes" :value="archetype[2]">{{ archetype[2] }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollArchetype()" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-3">
                    <label for="archetype" class="form-label">Profession</label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.profession">
                            <option v-for="profession in professions[char_data.archetype]" :value="profession[2]">{{
                                profession[2] }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollProfession()" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-1 border-top">
            <h2>Background</h2>
            <div class="row mb-1">
                <div class="col-3">
                    <label for="season" class="form-label">Season of Birth</label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.season" v-on:change="rollDooming()">
                            <option v-for="season in seasons" :value="season">{{ season }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollSeason()" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-6">
                    <label for="dooming" class="form-label">Dooming</label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.dooming">
                            <option v-for="dooming in doomings[char_data.season]" :value="dooming[2]">{{ dooming[2] }}
                            </option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollDooming()" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-3">
                    <label for="age" class="form-label">Age Group</label>
                    <div class="input-group">
                        <select class="form-select" v-model="char_data.age" v-on:change="rollAllDistinguishingMarks()">
                            <option v-for="age in age_groups" :value="age">{{ age }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollAge()" title="Roll"><i
                                class="bi bi-dice-6"></i></button>
                    </div>
                </div>
                <div class="col-4" v-if="char_data.distinguishing_marks.length > 0">
                    <label for="age" class="form-label">Distinguishing Marks</label>
                    <div class="input-group" v-for="(mark,index) in char_data.distinguishing_marks">
                        <select class="form-select" v-model="char_data.distinguishing_marks[index]">
                            <option v-for="m in distinguishing_marks" :value="m">{{ m }}</option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="rollDistinguishingMarkAt(index)"
                            title="Roll"><i class="bi bi-dice-6"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-3">
                    <select-roll v-bind:title="'Complexion'" v-model="char_data.complexion"
                        v-bind:collection="complexions" v-bind:is_array="false" v-on:roll-click="rollComplexion()">
                    </select-roll>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    Vue.component('select-roll', {
        props: ['title', 'value', 'collection', 'is_array'],
        template: `<div><label class="form-label">{{ title }}</label>
                    <div class="input-group">
                        <select class="form-select" v-bind:value="value" v-on:input="$emit('input', $event.target.value)" v-on:change="$emit('roll-change')">
                            <option v-for="x in collection" :value="is_array ? x : x[2]">
                                {{ is_array ? x : x[2] }}
                            </option>
                        </select>
                        <button class="btn btn-primary btn-sm" v-on:click="$emit('roll-click')" title="Roll">
                            <i class="bi bi-dice-6"></i>
                        </button>
                    </div></div>`
    });

    var charApp = new Vue({
        el: '#charApp',
        data: {
            char_data: {
                name: "",
                primary_attributes: {
                    combat: 0,
                    brawn: 0,
                    agility: 0,
                    perception: 0,
                    intelligence: 0,
                    willpower: 0,
                    fellowship: 0,
                },
                gender: '',
                ancestry: 'Human',
                ancestral_trait: null,
                ancestry_mixed: null,
                ancestral_trait_mixed: null,
                archetype: null,
                profession: null,
                season: null,
                dooming: null,
                age: null,
                distinguishing_marks: [],
                complexion: null,
                build_type: null,
                height: null,
                weight: null,
                //
                height: null,
                build: null,
            },
            primary_attributes_rolled: false,
            primary_attributes_swapped: false,
            swap_attr: null,
            gender_options: ['Male', 'Female'],
            ancestry_options: ['Human', 'Dwarf', 'Elf', 'Gnome', 'Halfling', 'Ogre'],
            ancestral_traits: {
                Human: [
                    [1, 8, "Blessing in Disguise"],
                    [9, 16, "Danger Sense"],
                    [17, 25, "Dauntless"],
                    [26, 33, "Esoteric Memory"],
                    [34, 41, "Fortune's Wheel"],
                    [42, 49, "Grim Resolve"],
                    [50, 58, "Manifest Destiny"],
                    [59, 67, "Mixed Bloodline"],
                    [68, 76, "Mountain Amongst Men"],
                    [77, 85, "Natural Selection"],
                    [86, 92, "Noble Savage"],
                    [93, 100, "Seventh Sense"],
                ],
                Dwarf: [
                    [1, 8, "Cavesight"],
                    [9, 16, "Children of the Earth"],
                    [17, 25, "Consume Alcohol"],
                    [26, 33, "Dwarven Warfare"],
                    [34, 41, "Grudgebearer"],
                    [42, 49, "Ironclad"],
                    [50, 58, "Oathkeeper"],
                    [59, 67, "Physical Prowess"],
                    [68, 76, "Rune-marked Glory"],
                    [77, 85, "Stentorian Voice"],
                    [86, 92, "Stoneheaded"],
                    [93, 100, "Strength of the Mountain"],
                ],
                Elf: [
                    [1, 8, "Bewitching"],
                    [9, 16, "Beyond the Veil"],
                    [17, 25, "Deadly Aim"],
                    [26, 33, "Enduring Mortality"],
                    [34, 41, "Fey Treachery"],
                    [42, 49, "Firstborn"],
                    [50, 58, "Kindred Warband"],
                    [59, 67, "Lament of the Ages"],
                    [68, 76, "Meditative Healing"],
                    [77, 85, "Nature's Own"],
                    [86, 92, "Nighteyes"],
                    [93, 100, "Warrior's Tattoo"],
                ],
                Gnome: [
                    [1, 8, "Clockworks of War"],
                    [9, 16, "Crag Fighting"],
                    [17, 25, "Denizen of Stone"],
                    [26, 33, "Dungeons Deep"],
                    [34, 41, "Escape Artist"],
                    [42, 49, "Goldbergian"],
                    [50, 58, "Hocus Pocus"],
                    [59, 67, "Metrognome"],
                    [68, 76, "Thieving Stunties"],
                    [77, 85, "Tunnel Vision"],
                    [86, 92, "Underfoot"],
                    [93, 100, "Wretched Prankster"],
                ],
                Halfling: [
                    [1, 8, "Beguiler"],
                    [9, 16, "Cat-like Reflexes"],
                    [17, 25, "Craven"],
                    [26, 33, "Farsight"],
                    [34, 41, "Fettered Chaos"],
                    [42, 49, "Fieldwarden"],
                    [50, 58, "Fleet-footed"],
                    [59, 67, "Hijinks"],
                    [68, 76, "Kleptomania"],
                    [77, 85, "Low Blow"],
                    [86, 92, "Memento"],
                    [93, 100, "Pintsized"],
                ],
                Ogre: [
                    [1, 8, "Broad-bellied"],
                    [9, 16, "Cast Iron Stomach"],
                    [17, 25, "Cruisin' For A Bruisin'"],
                    [26, 33, "Frightening Bellow"],
                    [34, 41, "Gut-Plate"],
                    [42, 49, "Hunger Pangs"],
                    [50, 58, "Mighty Thews"],
                    [59, 67, "Odd Couple"],
                    [68, 76, "Rotgut Spray"],
                    [77, 85, "Slamdance"],
                    [86, 92, "Thick Lining"],
                    [93, 100, "Wendigo"],
                ],
            },
            natural_selection_attr: null,
            natural_selection_original: null,
            ancestry_modifiers: {
                Human: {
                    combat: 1, intelligence: 1, perception: 1,
                    agility: -1, fellowship: -1, willpower: -1
                },
                Dwarf: {
                    brawn: 1, combat: 1, willpower: 1,
                    agility: -1, fellowship: -1, perception: -1
                },
                Elf: {
                    agility: 1, perception: 1, intelligence: 1,
                    brawn: -1, fellowship: -1, willpower: -1
                },
                Gnome: {
                    agility: 1, intelligence: 1, willpower: 1,
                    brawn: -1, combat: -1, fellowship: -1
                },
                Halfling: {
                    agility: 1, fellowship: 1, perception: 1,
                    brawn: -1, combat: -1, intelligence: -1
                },
                Ogre: {
                    brawn: 2, combat: 1,
                    agility: -2, perception: -1
                }
            },
            archetypes: [
                [1, 15, "Academic"],
                [16, 32, "Commoner"],
                [33, 49, "Knave"],
                [50, 66, "Ranger"],
                [67, 83, "Socialite"],
                [84, 100, "Warrior"]
            ],
            professions: {
                Academic: [
                    [1, 8, "Adherent"],
                    [9, 16, "Anchorite"],
                    [17, 25, "Antiquarian"],
                    [26, 33, "Apothecary"],
                    [34, 41, "Astrologer"],
                    [42, 49, "Diabolist"],
                    [50, 58, "Engineer"],
                    [59, 67, "Informer"],
                    [68, 76, "Investigator"],
                    [77, 85, "Monk"],
                    [86, 92, "Preacher"],
                    [93, 100, "Scribe"],
                ],
                Commoner: [
                    [1, 8, "Artisan"],
                    [9, 16, "Barber Surgeon"],
                    [17, 25, "Boatman"],
                    [26, 33, "Camp Follower"],
                    [34, 41, "Cheapjack"],
                    [42, 49, "Coachman"],
                    [50, 58, "Doomsayer"],
                    [59, 67, "Jailer"],
                    [68, 76, "Laborer"],
                    [77, 85, "Peasant"],
                    [86, 92, "Rat Catcher"],
                    [93, 100, "Servant"],
                ],
                Knave: [
                    [1, 8, "Beggar"],
                    [9, 16, "Burglar"],
                    [17, 25, "Charlatan"],
                    [26, 33, "Footpad"],
                    [34, 41, "Gambler"],
                    [42, 49, "Graverobber"],
                    [50, 58, "Guttersnipe"],
                    [59, 67, "Highwayman"],
                    [68, 76, "Prostitute"],
                    [77, 85, "Smuggler"],
                    [86, 92, "Vagabond"],
                    [93, 100, "Vigilante"],
                ],
                Ranger: [
                    [1, 8, "Animal Tamer"],
                    [9, 16, "Bailiff"],
                    [17, 25, "Bonepicker"],
                    [26, 33, "Bounty Hunter"],
                    [34, 41, "Gamekeeper"],
                    [42, 49, "Hedgewise"],
                    [50, 58, "Old Believer"],
                    [59, 67, "Outrider"],
                    [68, 76, "Pilgrim"],
                    [77, 85, "Reeve"],
                    [86, 92, "Slayer"],
                    [93, 100, "Trapper"],
                ],
                Socialite: [
                    [1, 8, "Anarchist"],
                    [9, 16, "Courtier"],
                    [17, 25, "Cultist"],
                    [26, 33, "Entertainer"],
                    [34, 41, "Envoy"],
                    [42, 49, "Fop"],
                    [50, 58, "Jester"],
                    [59, 67, "Provocateur"],
                    [68, 76, "Racketeer"],
                    [77, 85, "Raconteur"],
                    [86, 92, "Rake"],
                    [93, 100, "Valet"],
                ],
                Warrior: [
                    [1, 8, "Berserker"],
                    [9, 16, "Bravo"],
                    [17, 25, "Buccaneer"],
                    [26, 33, "Dragoon"],
                    [34, 41, "Hedge Knight"],
                    [42, 49, "Man-At-Arms"],
                    [50, 58, "Militiaman"],
                    [59, 67, "Pit Fighter"],
                    [68, 76, "Pugilist"],
                    [77, 85, "Sellsword"],
                    [86, 92, "Squire"],
                    [93, 100, "Watchman"],
                ]
            },
            seasons: ['Spring', 'Summer', 'Autumn', 'Winter'],
            doomings: {
                Spring: [
                    [1, 4, 'Pride comes before a fall'],
                    [5, 8, 'Ivy will claw at your skin and prick like a rose'],
                    [9, 12, 'Health is not always healthy'],
                    [13, 16, 'Still waters run deep'],
                    [17, 20, 'The forest will strike back when the campfire is low'],
                    [21, 24, 'Do not pluck low-hanging fruit'],
                    [25, 28, 'The serpent is in the garden'],
                    [29, 32, 'Climb not the mighty oak'],
                    [33, 36, 'Beware fairy rings and standing stones'],
                    [37, 40, 'The land will reclaim what is hers'],
                    [41, 44, 'Do not stare directly into the light'],
                    [45, 48, 'Good intentions create bad situations'],
                    [49, 52, 'Do not accept trust lightly'],
                    [53, 56, 'There is always another problem'],
                    [57, 60, 'Light burns just as much as it heals'],
                    [61, 64, 'Radiance can\'t illuminate all'],
                    [65, 68, 'Charity will cause your end'],
                    [69, 72, 'Underestimate no one'],
                    [73, 76, 'Birth is but the start of death'],
                    [77, 80, 'Provide no succor to the blind man'],
                    [81, 84, 'Do not pick up discarded coins'],
                    [85, 88, 'Twice for poison, thrice for a kiss'],
                    [89, 92, 'Fate is cruel, but ironic'],
                    [93, 96, 'A trick is not an illusion'],
                    [97, 100, 'You will be stabbed by your own knife']
                ],
                Summer: [
                    [1, 4, 'Your end will be at the head of a hammer'],
                    [5, 8, 'You will see your own hubris and end your life'],
                    [9, 12, 'Those you love will kill you'],
                    [13, 16, 'Beware the comet\'s warning'],
                    [17, 20, 'They will come as twins and leave as triplets'],
                    [21, 24, 'You will die trying to save someone you love'],
                    [25, 28, 'Beware a lover scorned'],
                    [29, 32, 'You will witness the end, then go into it'],
                    [33, 36, 'The heathen will cut you down'],
                    [37, 40, 'Your final moments will be full of divine pain'],
                    [41, 44, 'Your flame shall consume you'],
                    [45, 48, 'Mercy will be your downfall'],
                    [49, 52, 'You will burn brightly, then be snuffed out'],
                    [53, 56, 'The unlit path is the most dangerous'],
                    [57, 60, 'Iron will bend under heat'],
                    [61, 64, 'Respect power, for it does not respect you'],
                    [65, 68, 'Never leave a fire burning'],
                    [69, 72, 'Never turn your back on a foe'],
                    [73, 76, 'Your embers shall smolder'],
                    [77, 80, 'The sun can be a cruel friend'],
                    [81, 84, 'Death comes from above and below'],
                    [85, 88, 'Lightning sometimes does strike twice'],
                    [89, 92, 'A squall occurs before a storm'],
                    [93, 96, 'The eye of a storm is just a reprieve'],
                    [97, 100, 'The heavens will open, angry and bright']
                ],
                Autumn: [
                    [1, 4, 'A murder of another will herald thine death'],
                    [5, 8, 'Thy skin shall darken as if soaked in ink'],
                    [9, 12, 'Do not cross a freshly dug tomb'],
                    [13, 16, 'You shall see thine death twice'],
                    [17, 20, 'Up from the canyon, soars the raven'],
                    [21, 24, 'Sorrow will fill your heart at death'],
                    [25, 28, 'You shall not see the end'],
                    [29, 32, 'One step forward, two steps back'],
                    [33, 36, 'The jackdaw is a false omen'],
                    [37, 40, 'A visage will haunt you to your grave'],
                    [41, 44, 'The Eye will look upon you with scorn'],
                    [45, 48, 'You will die in a pool of blood, but it will not be yours'],
                    [49, 52, 'Your end will not be clean'],
                    [53, 56, 'Sickness will be your downfall'],
                    [57, 60, 'The stench of the grave follows you'],
                    [61, 64, 'New beginnings herald sudden ends'],
                    [65, 68, 'The Abyss also gazes back'],
                    [69, 72, 'The shadows stalk hungrily'],
                    [73, 76, 'Three flies bring your doom'],
                    [77, 80, 'Beware the black stallion'],
                    [81, 84, 'Do not fold, always stay'],
                    [85, 88, 'Confusion will kill more than you'],
                    [89, 92, 'Do not be fooled by appearances'],
                    [93, 96, 'Avoid the exotic when possible'],
                    [97, 100, 'Do not push for more, as you will get it']
                ],
                Winter: [
                    [1, 4, 'Beware the toothless hound'],
                    [5, 8, 'Warm winters bring hard frost'],
                    [9, 12, 'Do not trust what you can\'t see'],
                    [13, 16, 'Blood will be upon your hands'],
                    [17, 20, 'The oldest are the strongest'],
                    [21, 24, 'Be wary of false friends'],
                    [25, 28, 'Numbers overwhelm might'],
                    [29, 32, 'Your killer will not know your name'],
                    [33, 36, 'At times, being found is worse than being lost'],
                    [37, 40, 'Do not tread upon thick ice nor thin'],
                    [41, 44, 'Iron is weak, gold is strong'],
                    [45, 48, 'Your left eye will not see the truth'],
                    [49, 52, 'Revenge is upon you'],
                    [53, 56, 'Absolute power corrupts absolutely'],
                    [57, 60, 'Being immovable is not always a boon'],
                    [61, 64, 'Some things, man should not know'],
                    [65, 68, 'Justice is blind, deaf and dumb'],
                    [69, 72, 'Six of one, half a dozen of the other'],
                    [73, 76, 'Fear change, as it changes you'],
                    [77, 80, 'The gavel will ring twice'],
                    [81, 84, 'The stars can lead you astray'],
                    [85, 88, 'The depths are crushing, the shallows inviting'],
                    [89, 92, 'From the cold, something eyes you hungrily'],
                    [93, 96, 'You, too can be touched by the unknown'],
                    [97, 100, 'Do not fly too close to the stars']
                ],
            },
            age_groups: ['Young', 'Adult', 'Middle Aged', 'Elderly'],
            distinguishing_marks: ['Abnormally white teeth',
                'Abundance of freckles on face',
                'Acne-scarred face',
                'Additional toes or fingers',
                'Almond-shaped eyes',
                'Asexual appearance',
                'Ashy Elbows',
                'Balding pate',
                'Beaded mustachio',
                'Beady eyes',
                'Beauty mark on face',
                'Big ears',
                'Blood-shot eyes',
                'Bow-legged walk',
                'Branded with cattle iron',
                'Broken nose',
                'Buck-toothed or snaggle-toothed',
                'Bulging eyes',
                'Burn scars on face and arms',
                'Bushy eyebrows',
                'Carefully-groomed beard',
                'Cherubic face',
                'Clammy hands',
                'Claw marks over face',
                'Covered in black moles',
                'Curly locks of hair',
                'Devilish goatee',
                'Different colored eyes',
                'Dimpled cheeks',
                'Doll-like face',
                'Drooping eye',
                'Dry, flaking skin',
                'Ear half-missing',
                'Embarrassing acne scars',
                'Embarrassing tattoo on face',
                'Excessive body hair',
                'Eyes too far apart',
                'False finger',
                'Farmer\'s tan',
                'Glasgow grin',
                'Golden lock of hair',
                'Hare lip',
                'Hooked nose',
                'Horse-faced',
                'Humpbacked',
                'Incredibly beautiful',
                'Itchy scabies bites',
                'Jaundiced complexion',
                'Lanky hair',
                'Large and hairy mole',
                'Large nose',
                'Large red birthmark on arms',
                'Lazy eye',
                'Leathery countenance',
                'Lichtenberg scar',
                'Long eyelashes',
                'Long mustachio',
                'Long sideburns',
                'Milky eye',
                'Mismatched eye color',
                'Missing an eyebrow',
                'Missing fingers',
                'Nervous tic',
                'Older-looking face',
                'Painted beard',
                'Pallid countenance',
                'Patch of white hair',
                'Perfect posture',
                'Perpetual sneer',
                'Perpetually deep frown',
                'Piercing eyes',
                'Pigeon-toed stance',
                'Pot belly',
                'Pox scars all over body',
                'Pronounced brow',
                'Purple bags beneath eyes',
                'Rancid breath',
                'Rash of pimples',
                'Rheumy eyes',
                'Six-fingered hand',
                'Slouchy posture',
                'Spiked mohawk',
                'Squinting eyes or false eye patch',
                'Steely gaze',
                'Strong jaw',
                'Sunburn scars',
                'Sunken eyes',
                'Tanned, leathery skin',
                'Tarred and feathered',
                'Terribly crooked teeth',
                'Vacant expression',
                'Veteran\'s nose',
                'Vulgar tattoo',
                'Weak chin',
                'Wears spectacles',
                'Webbed hands and feet',
                'Widow\'s peak',
                'Wind-chapped cheeks',
                'Yellow scum on teeth',
                'Yellowed fingernails and toenails'
            ],
            complexions: [
                [1, 10, 'Pale skin'],
                [11, 20, 'Fair skin'],
                [21, 30, 'Light skin'],
                [31, 40, 'Light tan skin'],
                [41, 50, 'Tan skin'],
                [51, 60, 'Dark tan skin'],
                [61, 70, 'Light brown skin'],
                [71, 80, 'Brown skin'],
                [81, 90, 'Dark brown skin'],
                [91, 100, 'Ebony skin']
            ]
        },
        computed: {
            peril_threshold: function () {
                let threshold = 3 + this.attributeBonus('willpower');
                return threshold;
            },
            damage_threshold: function () {
                let threshold = this.attributeBonus('brawn');
                if (this.hasAncestralTrait('Beguiler'))
                    threshold = Math.max(threshold, this.attributeBonus('fellowship'));
                // TODO Gut-Plate bonus from unarmored?
                // TODO Armor?
                return threshold;
            },
            encumbrance_limit: function () {
                var limit = 2 + this.attributeBonus('brawn');
                return limit;
            },
            initiative: function () {
                let initiative = 3 + this.attributeBonus("perception");
                if (this.hasAncestralTrait("Underfoot"))
                    initiative += 3;
                return initiative;
            },
            movement: function () {
                let movement = 3 + this.attributeBonus("agility");
                if (this.hasAncestralTrait("Physical Prowess"))
                    movement = Math.max(movement, 3 + this.attributeBonus("brawn"));
                if (this.hasAncestralTrait("Thieving Stunties") || this.hasAncestralTrait("Pintsized"))
                    movement -= 3;
                return movement;
            }
        },
        methods: {
            rollAll: function () {
                this.primary_attributes_swapped = false;
                this.rollAllPrimaryAttributes();
                this.rollGender();
                this.rollAncestry();
                this.rollArchetype();
                this.rollSeason();
                this.rollAge();
                this.rollComplexion();
            },
            rollAllPrimaryAttributes: function () {
                this.primary_attributes_rolled = true;
                for (key in this.char_data.primary_attributes)
                    this.char_data.primary_attributes[key] = this.rollPrimaryAttribute();
            },
            rollPrimaryAttribute: function () {
                return 25 + this.rollD(10) + this.rollD(10) + this.rollD(10);
            },
            rollD: function (sides) {
                return Math.round(Math.random() * (sides - 1) + 1);
            },
            attributeBonus: function (attr) {
                if (!this.primary_attributes_rolled)
                    return 0;
                let bonus = Math.floor(this.char_data.primary_attributes[attr] / 10);
                if (this.char_data.ancestry) {
                    let mod = this.ancestry_modifiers[this.char_data.ancestry][attr];
                    bonus += mod ?? 0;
                }
                return bonus;
            },
            swap42: function (attr) {
                this.primary_attributes_swapped = true;
                this.char_data.primary_attributes[attr] = 42;
            },
            swapAttr: function (attr) {
                if (this.swap_attr) {
                    let firstAttr = this.char_data.primary_attributes[this.swap_attr];
                    let secondAttr = this.char_data.primary_attributes[attr];
                    this.char_data.primary_attributes[this.swap_attr] = secondAttr;
                    this.char_data.primary_attributes[attr] = firstAttr;
                    if (this.swap_attr == this.natural_selection_attr)
                        this.natural_selection_attr = attr;
                    this.swap_attr = null;
                    this.primary_attributes_swapped = true;
                }
                else {
                    this.swap_attr = attr;
                }
            },
            resetPrimaryAttributes: function () {
                for (key in this.char_data.primary_attributes)
                    this.char_data.primary_attributes[key] = 0;
                this.swap_attr = null;
                this.primary_attributes_swapped = false;
                this.primary_attributes_rolled = false;
                this.resetNaturalSelection();
            },
            rollGender: function () {
                this.char_data.gender = this.rollArray(this.gender_options, this.char_data.gender);
            },
            rollArray: function (arr, currentValue = null) {
                if (!arr || arr.length < 1)
                    return null;
                let newRoll = arr[Math.round(Math.random() * (arr.length - 1))];
                while (newRoll == currentValue)
                    newRoll = arr[Math.round(Math.random() * (arr.length - 1))];
                return newRoll;
            },
            rollAncestry: function () {
                this.char_data.ancestry = this.rollArray(this.ancestry_options, this.char_data.ancestry);
                this.rollAncestralTrait();
            },
            rollAncestralTrait: function () {
                let table = this.ancestral_traits[this.char_data.ancestry];
                this.char_data.ancestral_trait = this.rollTable(table);
                this.setMixedAncestry();
            },
            rollTable: function (table, diceSize = 100, current = null, maxDepth = 10) {
                let roll = this.rollD(diceSize);
                for (i in table) {
                    if (table[i][0] <= roll && table[i][1] >= roll && table[i][2] != current)
                        return table[i][2];
                    else if (table[i][2] == current && maxDepth > 0)
                        return this.rollTable(table, diceSize, current, --maxDepth);
                }
            },
            checkAncestralTraitChanges: function () {
                this.setMixedAncestry();
                this.resetNaturalSelection();
            },
            setMixedAncestry: function () {
                if (this.hasAncestralTrait("Mixed Bloodline"))
                    this.rollMixedAncestry();
                else {
                    this.char_data.ancestry_mixed = null;
                    this.char_data.ancestral_trait_mixed = null;
                }
            },
            rollMixedAncestry: function () {
                this.char_data.ancestry_mixed = this.rollArray(this.ancestry_options);
                this.rollMixedAncestralTrait();
            },
            rollMixedAncestralTrait: function () {
                let secondTable = this.ancestral_traits[this.char_data.ancestry_mixed];
                this.char_data.ancestral_trait_mixed = this.rollTable(secondTable);
            },
            swapNaturalSelection: function (attr) {
                this.natural_selection_attr = attr;
                this.natural_selection_original = this.char_data.primary_attributes[attr];
                this.char_data.primary_attributes[attr] = 55;
            },
            resetNaturalSelection: function () {
                if (!this.hasAncestralTrait('Natural Selection')) {
                    if (this.natural_selection_attr && this.char_data.ancestral_trait)
                        this.char_data.primary_attributes[this.natural_selection_attr] = this.natural_selection_original;
                    this.natural_selection_attr = null;
                    this.natural_selection_original = null;
                }
            },
            titleCase: function (str) {
                return str[0].toUpperCase() + str.substring(1);
            },
            mixedAncestryOptions: function () {
                return this.ancestry_options.slice(1);
            },
            hasAncestralTrait: function (traitName) {
                return traitName && (this.char_data.ancestral_trait?.toUpperCase() == traitName.toUpperCase() || this.char_data.ancestral_trait_mixed?.toUpperCase() == traitName.toUpperCase());
            },
            applyThievingStunties: function () {
                this.char_data.build = "Frail";
                // TODO height changes
            },
            rollArchetype: function () {
                this.char_data.archetype = this.rollTable(this.archetypes, 100, this.char_data.archetype);
                this.rollProfession();
            },
            rollProfession: function () {
                if (this.char_data.archetype) {
                    let table = this.professions[this.char_data.archetype];
                    this.char_data.profession = this.rollTable(table, 100, this.char_data.profession);
                }
            },
            rollSeason: function () {
                this.char_data.season = this.rollArray(this.seasons, this.char_data.season);
                this.rollDooming();
            },
            rollDooming: function () {
                if (this.char_data.season) {
                    let table = this.doomings[this.char_data.season];
                    this.char_data.dooming = this.rollTable(table, 100, this.char_data.dooming);
                }
            },
            rollAge: function () {
                this.char_data.age = this.rollArray(this.age_groups, this.char_data.age);
                this.rollAllDistinguishingMarks();
            },
            rollAllDistinguishingMarks() {
                this.char_data.distinguishing_marks = [];
                let markCount = this.age_groups.indexOf(this.char_data.age);
                for (let i = 0; i < markCount; i++)
                    this.rollDistinguishingMarkAt(i);
            },
            rollDistinguishingMarkAt(index) {
                let mark = this.rollArray(this.distinguishing_marks);
                Vue.set(this.char_data.distinguishing_marks, index, mark);
            },
            rollComplexion: function () {
                this.char_data.complexion = this.rollTable(this.complexions, 100, this.char_data.complexion);
            }
        }
    });
</script>

</html>